<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522074743573-mrvsq0l34v3ejlotp87l5ak5k78c6168.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522074743573-mrvsq0l34v3ejlotp87l5ak5k78c6168</string>
	<key>API_KEY</key>
	<string>AIzaSyDA1dUS9g4Zzt9VgbQhlaOTTl0Jw6l2v94</string>
	<key>GCM_SENDER_ID</key>
	<string>522074743573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigohtech.Meat-Me-Sample-Application</string>
	<key>PROJECT_ID</key>
	<string>meatme-testfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>meatme-testfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522074743573:ios:95a0e18f86de725df87f1c</string>
</dict>
</plist>