<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<dict>
		<key>name</key>
		<string>KITS</string>
		<key>handle</key>
		<string>kits</string>
		<key>imageurl</key>
		<string>https://cdn.shopify.com/s/files/1/0078/5730/7737/files/hamburguesa_1e68f67f-f306-43f6-8fdc-962ad6078795.png?v=1636476505</string>
		<key>subcategory</key>
		<dict>
			<key>name</key>
			<string>Todo Kits</string>
			<key>handle</key>
			<string>kits</string>
		</dict>
	</dict>
</dict>
</plist>
