<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meat Me Sample Application.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A626F44329A6372300DE0D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A626F45929A6372400DE0D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A626F46329A6372400DE0D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
